.root {
    margin-top: 80px;
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar {
    display: flex;
    width: 20%;
    border-right: 1px solid #ccc;
}

.sidebar ul li {
    margin: 1rem 0;
}

.sidebar ul li a:hover {
    font-weight: bold;
    color: #ff6600;
}

.content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}